/* note to self: it looks like this was styled by a child. fix it. */

/* homepage stylez */
#header {
  font-family: "Grandstander", cursive;
  font-size: 76px;
  font-variant-ligatures: discretionary-ligatures;
  text-align: center;
  padding-top: 5%;
  background-color: aquamarine;
  height: 15vh;
  margin-top: 0%;
  margin-bottom: 0%;
  border-bottom: dashed orange;
}

a:link {
  text-decoration: none;
}

/* maps - same style, done by ID for DOM manipulation purposes*/
#map-container {
  height: 500px;
  width: 70vw;
  float: right;
}

#rest-map {
  height: 500px;
  width: 70vw;
  float: right;
}

/* shared styles between pages */
.sidebar {
  width: 29vw;
  height: 500px;
  background-color: aquamarine;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.map-side-container {
  display: flex;
  flex-direction: row-reverse;
}

/* restaurant pages */

#rest-notes {
  margin-top: 1px;
  padding-top: 3px;
  background-color: rgba(211, 211, 211, 0.473);
}
#rest-tagline {
  font-style: italic;
}
